# Latex
*.swp
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.pdf
TSWLatexian*

# MAC
.DS_Store
TU Delft LaTeX template/Thumbs.db
Researchverslag/Images/Thumbs.db

# PDF for Appendix
!appendix_survey_user_test_data.pdf
!appendix_surveyUserTest_survey.pdf